<div class="container about">
    <div class="jumbotron">
      <h2 class="page-header">About this app</h2>
      <p>
        This app has been built to demonstrate the architecture of an Angular
        browser app. The mission of the app is to provide departure information
        for public transport services in Budapest metropolitan area.
      </p>
      <p>
        The full source code of the app is available on github:
        <a href="https://github.com/mkaboldy/bkk-departures" target="_blank"
          >https://github.com/mkaboldy/bkk-departures</a
        >. Feel free to clone, fork or report issues.
      </p>
      <h3>Privacy</h3>
      <p>We don't store any information about you.</p>
      <h3>Credits</h3>
      <ul>
        <li>Route planner API provided by Budapest Transport Authority (BKK).</li>
        <li>Led Matrix fonts designed by Dániel Balogh</li>
      </ul>
      <h3>Versions</h3>
      <ul>
        <li>Angular App: 14.0.0</li>
        <li>Express App: 1.1.0</li>
      </ul>
      <h3>Demos</h3>
      <p>
        For the best results, be sure you are in the vicinity of Budapest
        metropolitan area and allow your browser to know your location.
      </p>
      <p>
        If that's not possible, the app will not be able to discover the nearby
        stations and services. In this case you can select the locations or
        departure boards you bookmarked earlier, or open any of the links below:
      </p>
      <ul>
        <li>
          <a href="/location/47.48745996119156,19.024219999997428"
            >Buda downtown stations (24/7)</a
          >
        </li>
        <li>
          <a href="/location/47.49365,19.05878">Pest downtown stations (24/7)</a>
        </li>
        <li>
          <a href="/departures/BKK_008750">Single departure board, trams only</a>
        </li>
        <li>
          <a
            href="/departures/BKK_008750,BKK_F00067,BKK_F00066,BKK_F00065,BKK_F00064,BKK_F00063,BKK_F00062,BKK_F00059,BKK_F00057,BKK_LM2BT1,BKK_008187,BKK_067592"
            >Complex departure board, multiple directions</a
          >
        </li>
        <li>
          <a href="/departures/BKK_F02242,BKK_F02243,BKK_F02063,BKK_F02064"
            >Multiple departure boards, bus stops in a neighborhood (Gazdagrét)</a
          >
        </li>
        <li>
          <a
            href="/departures/BKK_F04769,BKK_F04770,BKK_009301,BKK_F04771,BKK_F04816,BKK_F04772"
            >Multiple departure boards, bus stops in a neighborhood (Diósd)</a
          >
        </li>
      </ul>  
    </div>
  </div>
  