<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div fxShow="true">
            <a mat-button class="navbar-brand" href="#" routerLink="/">
                <img alt="logo" src="assets/images/logo.png">
            </a>    
        </div>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>        
        <div fxShow="true" fxHide.lt-md>
            <a href="#" mat-button  routerLink="/location" routerLinkActive="active">Location</a>
            <a href="#" mat-button  routerLink="/departures" routerLinkActive="active">Departures</a>
            <a href="#" mat-button  routerLink="/settings" routerLinkActive="active">Settings</a>
            <a href="#" mat-button  routerLink="/about" routerLinkActive="active">About</a>
        </div>            
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav #sidenav 
    (opened)="displayStyle = 'block'"
    (closed)="displayStyle = 'none'" 
    [ngStyle]="{'display': displayStyle}"
    >
    <mat-nav-list>
        <a (click)="sidenav.close()"  mat-list-item routerLink="/location" routerLinkActive="active">Location</a>
        <a (click)="sidenav.close()"  mat-list-item routerLink="/departures" routerLinkActive="active">Departures</a>
        <a (click)="sidenav.close()"  mat-list-item routerLink="/settings" routerLinkActive="active">Settings</a>
        <a (click)="sidenav.close()"  mat-list-item routerLink="/about" routerLinkActive="active">About</a>
    </mat-nav-list>
</mat-sidenav>
